@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



     /* Header  START*/
.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 1rem 1rem 1rem;
    position: relative;
    background-color: rgb(4, 153, 153);
    
}
.logo{
    font-size: 250%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-left:3rem ;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.navbar a{
    margin-right: 1rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.navbar a:hover{
    font-weight: 600;
    color: black;
  
}
.head-section{
    height: fit-content;
    padding: 7rem 5rem 7rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container-1 h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    padding: 2rem;
    font-size: 300%;
    color: rgb(4, 153, 153);
    text-align: center;
    
}
.container-1 h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    padding: 2rem;
    font-size: 100%;
    color: rgb(109, 102, 102);
    text-align: center;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text{
    padding: 1rem;
    width: 50vh;
    background-color: rgba(38, 137, 146, 0.249);
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 2rem;
    
}
.text::placeholder{
    color: rgba(88, 85, 85, 0.686);
    font-family: 'Poppins', sans-serif;
    font-weight:lighter;
}
.form a{
   padding: 1rem;
   text-decoration: none;
   font-size:100% ;
   font-family: 'Poppins', sans-serif;
   color: rgb(6, 97, 97);
   font-weight: 300;
   box-sizing: border-box;
   background-color:rgb(4, 153, 153);
   color: white;
   border-radius: 2rem;
   margin-top: 1rem;
}
.form a:hover{
    color: black;
    font-weight: 500;
}

    /* Header  END*/


    /*About START*/

.about{
    height: fit-content;
}
.about-container{
    padding: 7rem 5rem 7rem 5rem;
   background-color: rgb(4, 153, 153);
}
.about-container h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    padding: 2rem;
    font-size: 300%;
    color: rgb(0, 0, 0);
    text-align: center;
}
.about-container p{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    padding: 2rem;
    font-size: 100%;
    color: #fff;
    text-align: left;
}
.img-content{
  display: flex;
  
}
.img-content img{
    height: 40%;
    width: 40%;
    padding: 1rem;
}

  /*About END*/

/* Key Responsibility  START*/
.key-features{
    height: fit-content;
}
.features-container{
    padding: 7rem 5rem 7rem 5rem;
}
.features-container h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    padding: 2rem;
    font-size: 300%;
    color: rgb(4, 153, 153);
    text-align: center;
}
.features{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.features-f1{
    display: flex;
    padding: 2rem;
    margin: 1rem;
    background-color: rgb(4, 153, 153);
    font-family: 'Poppins', sans-serif;
    border-radius: 2rem;
}
.features-f1 p{
    margin-left: 1rem;
    font-weight: 500;
}
.features-f1 i{
    color: #fff;
    font-size: 2rem;
}
/* Key Responsibility  END*/

/* our clients  START*/
.clients-container{
    height: fit-content;
}
.clients-container h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    padding: 2rem;
    font-size: 300%;
    color: rgb(4, 153, 153);
    text-align: center;
}
.companies{
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:rgb(4, 153, 153);
    padding: 2rem 0rem 2rem 0rem;
}
.companies i{
    padding: 1rem 1rem 1rem 1rem;
    font-size: 700%;
}
/* our clients  END*/

/*Footer START*/
.footer{
    height: fit-content;
}
.footer-container{
    padding: 7rem 5rem 7rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer-links a{
    text-decoration: none;
    color: rgb(6, 97, 97);
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
    font-size: large;
}
.copyright{
    padding: 2rem 0 2rem 0;
    font-family: 'Poppins', sans-serif;
   font-size: smaller ;
}
/*Footer END*/












/* Styles for screens up to 600 pixels wide */
@media screen and (max-width: 600px) {
    .head-section{
        height: fit-content;
        padding: 1rem;
      
        
    }
    .container-1 h1{
        font-weight: 300;
        padding: 1rem;
        font-size: 80%;  
        text-align:justify;
    }
    .features{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .companies i{
        padding: 1rem 1rem 1rem 1rem;
        font-size: 400%;
    }
    .features-container h1{
  
        font-weight: 500;
        padding: 1rem;
        font-size: 200%;
       
        
    }
    .features-f1{
    
        padding: 1rem;
        margin: 1rem;
        background-color: rgb(4, 153, 153);
        font-family: 'Poppins', sans-serif;
        border-radius: 2rem;
    }
    .img-content img{
     display: none;
    }
    .about-container p{
      
        font-weight: 500;
       
        font-size: 100%;
        color: #fff;
        text-align:justify;
    }
    .about-container{
        padding: 2rem 1rem 2rem 1rem;
       background-color: rgb(4, 153, 153);
    }
    .copyright{
        padding: 2rem 0 2rem 0;
       
       font-size:x-small ;
    }
    .footer-links a{
        font-size: small;
    }
    .logo{
        font-size: 200%;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        padding-left:0rem ;
    }
  }
  
  /* Styles for screens between 601 pixels and 900 pixels wide */
  @media screen and (min-width: 601px) and (max-width: 900px) {
    .head-section{
        height: fit-content;
        padding: 1rem;
      
        
    }
    .container-1 h1{
        font-weight: 500;
        padding: 1rem;
        font-size: 100%;  
        text-align: left;
        
    }
    .companies i{
        padding: 1rem 1rem 1rem 1rem;
        font-size: 500%;
    }
  }
  
  /* Styles for screens larger than 901 pixels wide */
  @media screen and (max-width: 901px) {
    .head-section{
        height: fit-content;
        padding: 4rem 3rem 4rem 3rem;
      
        
    }
    .container-1 h1{
        font-weight: 900;
        padding: 1rem;
        font-size: 200%;  
        
    }
  }
  